a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: none;
    color: inherit;
}

main{
    min-height: 60vh;
}

.navbar{
    font-family: "Bodoni Moda", serif;
}

.navbar-brand{
    color: gray;
}

.nav-link{
    color: white;
    transition: 0.7s;
    border-radius: 0.3rem;
}

.nav-link:hover{
    color: lightgray;
    background-color: #35786E;
}

body{
    color: white;
    background-color: #04241F;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Bodoni Moda", serif;
}

.title-image{
    background-image:
            linear-gradient(
                rgba(4, 36, 31, 0.3),
                rgba(4, 36, 31, 0.3)
            ),
            url("./media/waves-jeremy-bishop-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 30vh;
    font-size: 6rem;
    text-align: center;
    align-content: center;
}

.box {
    background-color: rgba(100, 100, 100, 1);
    min-height: 30vh;
    margin: 0;
    text-align: center;
    transition: 0.5s;
    margin: 30px;
    border-radius: 10px;
    width: auto;
    align-content: center;
    background-size: cover;
    background-position: center;
}

p{
    font-family: sans-serif;
    color: lightgray;
}


.box:hover{
    cursor: pointer;
    transform: scale(1.05);
}

.box.nohover{
    min-height: 19rem;
    align-content: start;
}

.box.nohover:hover{
    cursor: inherit;
    transform: scale(1.0);
}

.box .row{
    max-width: 100%;
    padding: 0.5rem 1rem;
}

.box .col-md-4{
    text-align: right;
}

.row button{
    width: 50%;
    margin-left: 25%;
}

.button{
    align-items: center;
    background-color: blue;
}