a{
    text-decoration: none;
    color: inherit;
}

a:hover{
    text-decoration: underline;
    color: inherit;
}

main{
    min-height: 60vh;
}

.navbar{
    font-family: "Bodoni Moda", serif;
}

.navbar-brand{
    color: gray;
}

.nav-link{
    color: white;
    transition: 0.7s;
    border-radius: 0.3rem;
}

.nav-link:hover{
    color: lightgray;
    background-color: #35786E;
}

body{
    color: white;
    background-color: #04241F;
    padding: 0;
    margin: 0;
    width: 100%;
    font-family: "Bodoni Moda", serif;
}

.title-image{
    background-image:
            linear-gradient(
                rgba(4, 36, 31, 0.3),
                rgba(4, 36, 31, 0.3)
            ),
            url("./media/waves-jeremy-bishop-unsplash.jpg");
    background-size: cover;
    background-position: center;
    height: 30vh;
    font-size: 6rem;
    text-align: center;
    align-content: center;
}

.box{
    background-color: rgba(100, 100, 100, 0.3);
    min-height: 30vh;
    border-radius: 10px;
    text-align: center;
}

p{
    font-family: sans-serif;
    color: lightgray;
}

.box-img{
    height: 25vh;
    width: 90%;
}

.box:hover{
    background-color: rgba(100, 100, 100, 0.5);
    cursor: pointer;
}